* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  height: 500px;
  width: 500px;
  margin: 45px auto;
  border: 10px solid rgb(194, 166, 8);
  padding: 10px 10px;
  background-color: darkred;
}

#scorePage {
  font-size: 50px;
  color: darkred;
  text-decoration: none;
  background-color: rgb(194, 166, 8);
  border: 5px solid darkred;
}

#startQuiz {
  font-size: 35px;
  background-color: rgb(194, 166, 8);
  color: darkred;
  margin: auto;
  width: 50%;
  position: relative;
  padding: 10px;
  justify-content: space-between;
}

#startQuiz:hover {
  background-color: darkred;
  color: rgb(194, 166, 8);
}

#quizQuestions {
  margin: auto;
  font-size: 30px;
  color: rgb(194, 166, 8);
  display: flex;
  flex-direction: column;
}

#quizTimer {
  float: right;
  color: rgb(194, 166, 8);
  font-size: 20px;
}

#quizQuestions {
  margin: 50px;
}

li {
  background-color: rgb(194, 166, 8);
  color: darkred;
  margin-top: 10px;
  padding: 5px 15px;
  width: 80%;
  font-size: 18px;
  color: darkred;
  transition: all 0.2s ease-in-out;
}

li:hover {
  transform: scale(1.1);
}

h1 {
  text-align: center;
}

button {
  border-radius: 15px;
}

#buttonContainer {
  display: flex;
  flex-direction: row;
}

input {
  border: 1px solid;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

#submit {
  font-size: 35px;
  background-color: rgb(194, 166, 8);
  color: darkred;
  margin: 10px auto;
  width: 50%;
  position: relative;
  padding: 10px;
  float: inline-start;
}

#clear {
  font-size: 35px;
  background-color: rgb(194, 166, 8);
  color: darkred;
  margin: auto;
  width: 50%;
  position: relative;
  padding: 10px;
}

#back {
  font-size: 35px;
  background-color: rgb(194, 166, 8);
  color: darkred;
  margin: auto;
  width: 50%;
  position: relative;
  padding: 10px;
}

#createDiv {
  border-top: 1px solid lightgray;
}

#createFinalScore {
  text-align: center;
}

@media screen and (max-width: 786px) {
  body {
    max-width: 786px;
  }
}

@media screen and (max-width: 640px) {
  body {
    min-width: 500px;
  }

  #buttonContainer {
    flex-direction: column;
    justify-content: center;
  }
}
